<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Search" formControlName="search">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Amount" formControlName="count">
    </mat-form-field>
    <button mat-button type="submit">Ok</button>
  </form>
  <mat-grid-list gutterSize="10px" cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let image of images.hits">
      <a (click)="openDialog(image)">
        <img src="{{image.largeImageURL}}" alt="#">
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>